


<!--scarppped news feeds from hindustan time-->

{% extends 'layout.html' %}
{% block content %}
<style>
h1 {
  color: #444;
  font: 800 350%/1.4 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: grid;
  grid: auto / auto auto;
}
</style>
<p id="big">   </p>
<div class="container" id="p">
	<h1>NEWS</h1>
  {% for news_item in news_items %}  
  	<div>
	<h2 class="heading">{{news_item.title}}</h2>
    
    <h3>description {{news_item.description}}</h3>
    <hr>
    <small><a href="{{news_item.link}}">{{news_item.title}}</a></small>
    </div>
        {% endfor %}
</div>
 {% endblock %}